@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab';
/*@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic-ext,cyrillic,latin-ext");*/


/* common */
html, body, div, form, fieldset, legend, label, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
html, body {
  min-width: 320px;
  min-height: 560px;

  background: #ffffff;

  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Roboto Slab', serif;
  color: #333333;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  text-align: left;
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }

img { border: 0; }
/* /common */

p {
  margin: 12px 0;
  line-height: 1.5em;
}

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  overflow: hidden;
  position: relative;
  display: block;
  max-width: 800px;
  margin: auto;
  padding: 16px 8px 24px;

  text-align: center;
  font-size: 0;
}
ul li {
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  vertical-align: middle;
  padding-top: 8px;

  font-size: 0.875rem;
  line-height: 24px;
  text-align: left;
  margin-bottom: 16px;
  border-right: 4px solid #e5e5e5;
}
ul li::first-line {
  font-weight: 600;
}

ul li:before {
  content: '';

  float: left;
  width: 64px;
  height: 64px;
  margin: -8px 12px 0 0;

  border-radius: 50%;
  background: url('../img/icons.png') 0 0 no-repeat;
}
ul li:nth-child(2):before {
  background-position: -64px 0;
}
ul li:nth-child(3):before {
  background-position: -128px 0;
}
@media (min-width: 800px) {
  ul li {
    display: inline-block;
    border-right: 0;
  }
  ul li:nth-child(1) {
    width: 32%;
  }
  ul li:nth-child(2) {
    width: 40%;
  }
  ul li:nth-child(3) {
    width: 28%;
  }
}

header {
  overflow: hidden;
  position: relative;
  max-width: 800px;
  margin: auto;
  padding: 156px 8px 16px;

  text-align: center;
  /*text-indent: -32px;*/
}
header h1 {
  font-size: 2rem;
  line-height: 1em;
  white-space: nowrap;
}
header a {
  display: block;
  margin-top: 16px;

  color: #333333;
  font-size: 2rem;
  line-height: 1em;
  letter-spacing: 2px;
  text-decoration: none;
  white-space: nowrap;
}
header img {
  position: absolute;
  top: 24px;
  left: 50%;
  overflow: hidden;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  border-radius: 50%;
  /*margin: 0 16px 0 24px;*/
}

article {
  overflow: hidden;
  max-width: 800px;
  margin: auto;
  padding: 16px 8px 16px;
}
article table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto 24px;
  border-bottom: 1px solid #cccccc;
}
article th,
article td {
  line-height: 1.5em;
}

article th {
  padding: 4px 12px;
  border-bottom: 1px solid #cccccc;
  font-size: 1.5rem;
  font-weight: 600;
  color: #333333;
}

article td {
  padding: 12px 16px;
  background: #f2f2f2;
  text-align: left;
  vertical-align: middle;
}
article tr:nth-child(even) td {
  background: #f8f8f8;
}

article th + th,
article td + td {
  width: 20%;
  min-width: 104px;
  text-align: right;
  vertical-align: top;
}

aside {
  overflow: hidden;
}
article h2 {
  max-width: 800px;
  margin: 16px auto;
  padding: 16px 8px 24px;

  border: solid #cccccc;
  border-width: 1px 0;

  color: #ff6633;
  font-size: 0.875rem;
  line-height: 1.5em;
  text-align: center;
}
@media (min-width: 480px) {
  article h2 {
    font-size: 1.25rem;
  }
  article h2::first-line {
    letter-spacing: 1px;
  }
}
@media (min-width: 640px) {
  article h2 {
    font-size: 1.5rem;
  }
}
@media (min-width: 800px) {
  article h2 {
    font-size: 2rem;
  }
}

footer {
  max-width: 800px;
  margin: 16px auto;
  padding: 24px 8px;
  overflow: hidden;

  border-top: 1px solid #cccccc;

  text-align: center;
}
footer a,
footer strong,
footer span {
  display: block;
  line-height: 1em;
}
footer span {
  margin: 12px 0;
}
footer a {
  cursor: default;

  color: #ff6633;
  font-size: 1.5rem;
  text-decoration: none;
}
